div:hover {
  border: 3px solid black;
}

div:nth-child(3) {
  background-color: blue;
  font-style: italic;
}

div:nth-child(4) {
  background-color: orange;
  font-family: gothic Medium;
}

div:nth-child(5) {
  background-color: darkslateblue;
  height: 60px;
  font-style: italic;
  text-shadow: 40px;
}

div:nth-child(6) {
  background-color: rgb(0, 61, 0);
  color: aqua;
}

div:nth-child(7) {
  background-color: lawngreen;
  font-style: italic;
}